*{
  text-decoration: none;
}

header ul{
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 10px;
  color: white;
  z-index: 20;
  background-color: #1e6458;
  padding: 13px;
  position: fixed;
  border-radius: 15px;
  box-shadow: 4px 10px rgb(255, 0, 0);
  text-decoration: none;
  
}
header{
  position: relative;
  right: -450px;
  cursor: pointer;
  
  
}
header ul li a:hover{
  color: rgb(233, 11, 11);
  cursor: pointer;
  font-weight: bold;

}
header ul li a{
  text-transform: uppercase;
  
  color: #ffffff;
  margin: 25px;
  font-weight:bold ;
  padding: 10px;
}


body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2c965b;
  color: #000000;
  text-decoration: none;
  
}
.logo-resto-congo{
  position: relative;
  top: 4;
  left: 19px;
  text-transform: uppercase;

}
.logo-resto-congo--span span{
  color:red ;
  font-size: 1.9rem;

}
.profille-centre{
  background-color: white;
  color: black;
  position: relative;
  justify-content: center;
  align-items: center;
  line-height: 1.0;
  text-align: center;
  padding: 60px;
  width: 35%;
  left: 400px;
  border-radius:25px;
  box-shadow: 1px 1px 20px #000000,
             1px 1px 20px #000000,
             1px 1px 20px #000000,
             1px 1px 40px #000000;
             
}
.profille-centre h2{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.0rem;
}
.profille-centre p{
  text-shadow: 10px 10px 18px #000000;
  font-size: 1.4rem;
  font-weight: 500;
}
html{
  scroll-behavior: smooth;
}
.section-plat h2{
  font-size: 2.1rem;
  
 
}
.plat-image{
  position: relative;
  right: 30px;
  
}
.plat-image img{
  width: 41%;
  height: 42%;
  position: relative;
  justify-content: end;
  height: 300px;
  
  margin: 12px;
  border-radius: 23px;
}
.section-plat-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 21px;
  background-color: #ffffff;
  height: auto;
}
.plat22{
  position: relative;
  left: 70px;
  
}
.plat22 h4 {
  text-transform: uppercase;
  font-size: 25px;
  

}
.plat22 h5{
  font-family: 'Times New Roman', Times, serif;
  text-transform: capitalize;
  color: #1d1919;
  font-size: 15px;
}
.plat22 p{
  color: red;
  font-weight: 600;
  position: relative;
  align-items: center;
  text-align: center;
  font-size: 16px;
 
}
.plat22 a{
  background-color: orange;
  color: #000000;
  padding: 12px;
  font-weight: bold;
  border-radius: 12px;
  position: relative;
  top: 12px;
  align-items: center;
  text-align: center;
  left: 40px;

}
.plat22 a:hover{
  background-color: aliceblue;
  
}

button {
  background-color:#1e6458;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover{
  background-color: #00e7c1;
  color: #000000;
  font-weight: bold;
  box-shadow: 1px 1px 15px #00e7c1,
             1px 1px 10px #00e7c1,
            
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
  border: 1px solid #1e6458;
  border-radius: 5px;
}
.reservation {
  padding: 30px;
  background-color: white;
  margin: 20px;
  border-radius: 8px;
}
#special-prix{
  position: relative;
  left: -99px;
}
#special-prix1{
  position:relative;
  left: -99px;
}
@media (max-width: 768px) {
  header {
    right: 0;
    text-align: right;
  }
  header ul {
    flex-direction: column;
    align-items: center;
    right: 2%;
  }
  .profille-centre {
    width: 90%;
    left: 0;
    margin: auto;
    padding: 20px;
  }

  .section-plat-flex {
    flex-direction: column;
    text-align: center;
  }

  .plat22,
  .plat22 a {
    left: 0;
  }

  .plat-image img{
    position: relative;
    left: 32px;
  }

 .plat-image{
  flex-direction: column;
  position: relative;
  top: 30px;
 }
  input, button {
    width: 100%;

    
  }
}