
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  


}

body {
  
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  background-image: url(profil\ 2.jpg);
  overflow-x: hidden;
  
  background-size: cover;
  
}
header ul{
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 10px;
  color: white;
  z-index: 20;
  background-color: #1e6458;
  padding: 13px;
  position: fixed;
  border-radius: 15px;
  box-shadow: 4px 10px rgb(255, 0, 0);
  
}
header{
  position: relative;
  right: -450px;
  cursor: pointer;
  
  
}
header ul li a:hover{
  color: rgb(233, 11, 11);
  cursor: pointer;
  font-weight: bold;

}
header ul li a{
  text-transform: uppercase;
  
  color: #ffffff;
  margin: 25px;
  font-weight:bold ;
  padding: 10px;
}


.header-h1 h1{
  font-size: 3.5rem;
  color: #ffffff;
  position: relative;
  top: 90px;

}
.header-h1 h1 span{
  color: red;
  font-size: 5.9rem;
}
.header-h1{
  position: relative;
  top: 5px;
  left: 20px;

}
.profil{
  position: relative;
  justify-content: center;
  align-items: center;
  top: 110px;
  left: 31%;
}

.cercle {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #f8f3f3;
  
  
}
.profil a{
  color: white;
  font-weight: bold;
  background-color: rgb(65, 64, 62);
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 1.5rem;
  position: relative;
  left: 185px;
  box-shadow: 0 0 20px rgb(255, 255, 255)
}
.profil a:hover{
  background: #ffffff;
  color: black;
}
.selon-lorem{
  position: relative;
  top: 220px;
}
.selon-lorem span{
  color: #ff1111;
  font-weight: bold;
  font-size: 120px;
}
html{
  scroll-behavior: smooth;
}
.Lorem-h11{
  color: #ffffff;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 54px;


}
.selon-lorem p{
  position: relative;
  text-align: center;
  justify-content: center;
  margin: 10px;
  border-bottom: 4px solid red;
  line-height: 1,9;
 
}

.contact12 h1{
  text-transform: uppercase;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  align-items: center;

}

.contact12-flex{
  display: flex;
  justify-content: space-around;
}
.flex--cont-1 i, .flex--cont-2 i , .flex--cont-3 i{
  color: orange;
  font-size: 2.4rem;

}
.flex--cont-3 p{
  font-size: 1.6rem;
  text-transform: capitalize;

}
.flex--cont-3 a{
  color: #f8f3f3;
  font-weight: bold;
  background-color: rgb(8, 238, 0);
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
}
.flex--cont-3 a:hover{
  background-color: #ffffff;
  color: black;
  box-shadow: 1px 1px 20px white;
 
  
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;

}
















