

body {
  margin: 0;
  font-family:'Roboto', sans-serif;
  
  background-color:rgb(57, 58, 59);

  
  
}
header {
  background-image: url('profil\ 2.jpg');
  height: 87vh;
  display: flex;
  padding: 20px 0;
  text-align: center;
  justify-content: space-between;
  padding: 2px 6%;
  
  

}
.logo{
  color: rgb(255, 0, 0);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: 10px;
  
}
.logo span{
  color: aqua;
}
nav a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: 10px;
}
nav a:hover{
  color: aqua;
}


.h3--header{
  color: rgb(255, 255, 255);
}
.hero {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  top: -450px;
}

.logo-circle {
  background-color: rgba(100, 92, 92, 0.6);
  border-radius: 50%;
  padding: 30px;
  margin-bottom: 20px;
  z-index: 10;
}

.logo-circle h1 {
  margin: 0;
  font-size: 28px;
}

.hero h2 {
  font-size: 24px;
  margin: 10px 0;
  color: #ffffff;
}

.hero p {
  color: #ffffff;
  font-size: 14px;
  margin: 5px 0;
  line-height: 1.3;
}


.hero button:hover {
  background-color: #eee;
}
.dishes{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}
.flex--header{

  justify-content: space-between;
  position: relative;
  top: 30px;
}
.flex--header1{
  background-color: red;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  left: -25px;
  cursor: pointer;
}

.flex--header2{
  background-color: red;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  left: 25px;
  cursor: pointer;
}
.flex--header a:hover{
  background-color: aliceblue;
 
}

.texte--bold{
  text-transform: capitalize;
  font-size: 1.7rem;
}


.platts{
  
  position: relative;
  bottom: 310px;
}
.titre--texte{
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  justify-content: center;
  text-align: center;
  
}
.conteneur{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(90, 87, 87);
 
  
}
.box{
  width: 250px;
  margin: 20px;
  border: 20px solid #ffffff;
  box-shadow: 20px 15px 35px rgba(0,0,0, 0.8);
  

}
html{
  scroll-behavior: smooth;
}
.imbox{
  position: relative;
  width: 80%;
  height: 250px;
}
.imbox img{
  position: relative;
  top: 0;
  left: 0;
  width: 130%;
  height: 250px;
  object-fit: cover;
}
.texte12{
  text-align: center;
  font-weight: 500;
  color: #111;
  background-color: #eee;
  padding: 4px;
  
  

}
.texte12 h3, h4{
  font-weight: 400;
  color: #000000;
  font-weight: bold;

}

.commender--cont{
  background-color: aqua;
  padding: 10px;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 700;
  border-radius: 12px;

}
.texte12 a:hover{
  background-color: rgb(255, 230, 0);
  box-shadow: 10px 10px 10px rgb(104, 44, 44);
  
  
}
.mon--menu{
  position: relative;
  top: -300px;
}
.cont-menu11{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  border-bottom: 2px solid rgb(255, 230, 0);
  text-align: center;
  justify-content: center;
  font-size: 1.8rem;

}
.cont-menu{
  justify-content: center;
  text-align: center;
  align-items: center;
}

#conteneur22{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(90, 87, 87);
}

.suivant6_12{
  color: #eee;
  align-items: center;
  position: relative;
  top: 30px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
.suivant6_12 a{
  text-transform: uppercase;
  color: #eee;
  background-color: rgb(11, 111, 224);
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;

}

.suivant6_12 a:hover{
  background-color: antiquewhite;
  color: #000000;
  box-shadow: 10px 10px 15px rgb(255, 255, 255);
}
.temoignages{
  position: relative;
  top: -200px;
}
.temoignages h1{
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: wheat;
 
  border-bottom: 2px solid rgb(255, 230, 0);
}
.temoignages--flex{
  display: flex;
  flex-wrap: wrap;
}
.temoignages--imd img{
  width: 25%;
  height: 40%;
  border-radius: 30px;

}
.temoignages-cont{
  padding: 2%;
}
.temoignages--flex{
  display: flex;
}
.mon--paragraphe1{
  color: rgb(255, 255, 255);
  text-wrap: wrap;

}
.lien--direct a{
  text-decoration: none;
  background-color: rgb(26, 168, 173);
  color: #000000;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;

}
.temoignages-cont{
  background: linear-gradient(45deg, #000000, #111, #ffffff, #b94242) ;
}






























