
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  


}

body {
  
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
  background-image: url(profil\ 2.jpg);
  opacity: 0.5;
  background-size: cover;
  
}
header ul{
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 10px;
  color: white;
  background-color: #1e6458;
  padding: 13px;
  position: fixed;
  border-radius: 15px;
  box-shadow: 4px 10px red;
  
}
header{
  position: relative;
  right: -450px;
}
header ul li a:hover{
  color: red;
  cursor: pointer;

}
header ul li a{
  text-transform: uppercase;
  
  color: #ffffff;
  margin: 25px;
  font-weight:bold ;
  padding: 10px;
}
.header-h1 h1{
  font-size: 3.5rem;
  color: #ffffff;
  position: relative;
  top: 90px;

}
.header-h1 h1 span{
  color: red;
  font-size: 5.9rem;
}
.header-h1{
  position: relative;
  top: 5px;
  left: 20px;
}























